.welcome-wrapper {
  width: 100%;
  height: 100%;
  .background-img {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  .background-cover {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
  }
  .intro-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40rem;
    min-height: 50%;
    background-color: rgba(12, 27, 62, 0.82);
    color: white;
    border-radius: 1rem;
    padding: 1rem;
    @media screen and (max-width: 800px) {
      padding: 0.5rem;
    }
    // box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.5);
    p {
      display: block;
      text-align: center;
      margin: 1rem;
      font-size: 1.3rem;
      line-height: 1.5;
      @media screen and (max-width: 800px) {
        font-size: 1rem;
      }
    }
    .btn-google {
      background: transparent;
      // background-color: #FFFFFF;
      // border: 1px solid #CCCCCC;
      // padding: 1rem;
      border: none;
      // border-radius: 0.5rem;
    }
    // h4
  }
  .intro-footer {
    margin-top: auto;

  }
  .background-copyright {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: white;
  }
}
